body{
    background-color:#fdf3d4;
    margin:0;
}
.contenedor{
    display:flex;
    flex-direction:row;
    /*margin-top:-10px;*/
    /*margin-left:-10px;
    margin-right:-7px*/
}
.navegacion {
    position:fixed;
    background-color:#0A1C40;
    width:20%;
    height:100%;
    /*float:left;*/
}
.navegacion ul{
    display:flex;
    flex-direction:column;
    margin-left:-2.41rem

}
.navegacion ul li{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    list-style: none;
    margin-bottom:5px;
    padding:10%;
}

.navegacion h1{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    text-align: center;
    margin-top: 5px;
}

.navegacion ul li a{
    color:white;
    text-decoration: none;
    font-weight:600;
}

.navegacion ul li a:hover{
    color: #254559;
    transition:.2s ease-in;
}
.bderecho {
    display:flex;
    flex-direction:column;
    width:80%;
    margin-left:20%;
    background-color:white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bderecho h1, h2{
    text-transform: uppercase;
    color:white;
}
.parr-blanco {
    color:white;
}
.columna1 {
    background-color:#f29979;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
    padding-right:25px;
    min-height:13.75rem;
}
.columna2 {
    background-color:#f2db94;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
    padding-right:25px;
    min-height:13.75rem;
}
.columna3 {
    background-color:#254559;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
    padding-right:25px;
    min-height:13.75rem;
}
.columna4 {
    background-color:#f2db94;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
    padding-right:25px;
    min-height:13.75rem;
}
.columna5 {
    background-color:#0A1C40;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
    padding-right:25px;
    min-height:13.75rem;
}
.columna5 label {
    color:white;
}